@model ChiPhiViewModel

@{
    ViewData["Title"] = "Create";
}

<br />
<br />

<div class="card ">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm chi phí</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <form method="post" autocomplete="off">
            <div class="p-4 border rounded bg-secondary">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">

                    <div class="col-md-6">
                        <label asp-for="ChiPhi.NhapHangId" class="control-label"></label>

                        <select asp-for="ChiPhi.NhapHangId" class="form-control border-input ddlHangNhap" id="ddlHangNhap"
                                asp-items="@(new SelectList(Model.NhapHangs,"Id","TenHang"))">
                            <option value="0">-- Khác --</option>
                        </select>

                        <span asp-validation-for="ChiPhi.NhapHangId" class="text-danger"></span>
                    </div>

                    <!-- co chon trong nhaphang -->
                    @if (Model.ChiPhi.NhapHangId != 0)
                    {
                        <div class="col-md-6">
                            <label asp-for="ChiPhi.ChiPhiKhac" class="control-label"></label>
                            <input asp-for="ChiPhi.ChiPhiKhac" class="form-control " readonly />
                            <span asp-validation-for="ChiPhi.ChiPhiKhac" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6">
                            <label asp-for="ChiPhi.ChiPhiKhac" class="control-label"></label>
                            <input asp-for="ChiPhi.ChiPhiKhac" class="form-control " id="txtChiPhiKhac" />
                            <span asp-validation-for="ChiPhi.ChiPhiKhac" class="text-danger"></span>
                        </div>
                    }
                </div>

                <div class="form-group row">
                    @if (Model.ChiPhi.NhapHangId != 0)
                    {
                        <div class="col-md-2">
                            <label asp-for="ChiPhi.DVT" class="control-label"></label>
                            <input asp-for="ChiPhi.DVT" class="form-control" readonly />
                            <span asp-validation-for="ChiPhi.DVT" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.SoLuong" class="control-label"></label>
                            <input type="text" asp-for="ChiPhi.SoLuong" class="form-control txtSoLuong numbers" />
                            <span asp-validation-for="ChiPhi.SoLuong" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.DVT2" class="control-label"></label>
                            <input asp-for="ChiPhi.DVT2" class="form-control " readonly />
                            <span asp-validation-for="ChiPhi.DVT2" class="text-danger"></span>
                        </div>

                        <!-- co sl2 trong nhaphang -->
                        @if (Model.ChiPhi.SoLuong2 != 0)
                        {

                            <div class="col-md-2">
                                <label asp-for="ChiPhi.SoLuong2" class="control-label "></label>
                                <input type="text" asp-for="ChiPhi.SoLuong2" class="form-control numbers txtSoLuong2" />
                                <span asp-validation-for="ChiPhi.SoLuong2" class="text-danger"></span>
                            </div>

                        }
                        else
                        {

                            <div class="col-md-2">
                                <label asp-for="ChiPhi.SoLuong2" class="control-label "></label>
                                <input type="text" asp-for="ChiPhi.SoLuong2" class="form-control numbers txtSoLuong2" disabled />
                                <span asp-validation-for="ChiPhi.SoLuong2" class="text-danger"></span>
                            </div>

                        }

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.DonGia" class="control-label "></label>
                            <input type="text" asp-for="ChiPhi.DonGia" asp-format="{0:0,0}" class="form-control txtDonGia numbers" />
                            <span asp-validation-for="ChiPhi.DonGia" class="text-danger"></span>
                        </div>

                    }
                    else
                    {
                        <div class="col-md-2">
                            <label asp-for="ChiPhi.DVT" class="control-label"></label>
                            <input asp-for="ChiPhi.DVT" class="form-control" readonly />
                            <span asp-validation-for="ChiPhi.DVT" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.SoLuong" class="control-label"></label>
                            <input type="text" asp-for="ChiPhi.SoLuong" class="form-control txtSoLuong numbers" readonly />
                            <span asp-validation-for="ChiPhi.SoLuong" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.DVT2" class="control-label"></label>
                            <input asp-for="ChiPhi.DVT2" class="form-control " readonly />
                            <span asp-validation-for="ChiPhi.DVT2" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.SoLuong2" class="control-label "></label>
                            <input type="text" asp-for="ChiPhi.SoLuong2" class="form-control numbers txtSoLuong2" readonly />
                            <span asp-validation-for="ChiPhi.SoLuong2" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="ChiPhi.DonGia" class="control-label "></label>
                            <input type="text" asp-for="ChiPhi.DonGia" asp-format="{0:0,0}" class="form-control txtDonGia numbers" readonly />
                            <span asp-validation-for="ChiPhi.DonGia" class="text-danger"></span>
                        </div>

                    }

                    <div class="col-md-2">
                        <label asp-for="ChiPhi.ThanhTien" class="control-label"></label>
                        <input asp-for="ChiPhi.ThanhTien" class="form-control txtThanhTien numbers" asp-format="{0:0,0}" />
                        <span asp-validation-for="ChiPhi.ThanhTien" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-md-3">
                        <label asp-for="ChiPhi.NgayTao" class="control-label "></label>
                        <input type="text" asp-for="ChiPhi.NgayTao" class="form-control maskInput" />
                        <span asp-validation-for="ChiPhi.NgayTao" class="text-danger"></span>
                    </div>

                    <div class="col-md-9">
                        <label asp-for="ChiPhi.GhiChu" class="control-label "></label>
                        <input asp-for="ChiPhi.GhiChu" class="form-control" />
                        <span asp-validation-for="ChiPhi.GhiChu" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" disabled class="btn btn-primary" id="btnSubmit"><i class="fas fa-save"></i></button>
                    <a class="btn btn-success" asp-controller="NhapHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward"></i></a>
                </div>
            </div>
        </form>

        <!--ddlNhapHang change-->

        <form asp-action="Create" method="get" id="frmDdlHangNhap">
            <input type="hidden" name="ddlHangNhapId" id="hidDdlHangNhap" />
            <input type="hidden" name="strUrl" id="hidStrUrl" asp-for="StrUrl" />
        </form>

        <!--ddlNhapHang change-->
    </div>
</div>

@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@

    <script src="~/js/ChiPhi/createController.js"></script>
    <script>
        //$('#txtMaKH').select2()
        $('.ddlHangNhap').select2()
        //Initialize Select2 Elements
        //$('.select2bs4').select2({
        //    theme: 'bootstrap4'
        //})
        //$('.tuyenTQ').select2({
        //    theme: 'bootstrap4'
        //})

    </script>
    <script>
        $('.ddlHangNhap').change(function () {
            ddlHangNhapId = $(this).val();

            $('#hidDdlHangNhap').val(ddlHangNhapId);

            $('#frmDdlHangNhap').submit();
        })
    </script>

}